/* COLORS */

.color-grey-1 {
  color: #f8f9fa;
}

.color-grey-2 {
  color: #e9ecef;
}

.color-grey-3 {
  color: #868e96;
}

.color-grey-4 {
  color: #212529;
}

/* Background */
.bg-color-blue {
  background-color: #0000ff;
}

.bg-color-grey {
  background-color: #ffe9ee;
}

.bg-color-dark-green {
  background-color: #4aca94;
}

.bg-color-light-green {
  background-color: #e4f7ef;
} 


