/* COLORS */

.color-brand-1 {
  color: #bc00ff;
}

.color-brand-2 {
  color: #540073;
}

.color-grey-1 {
  color: #212529;
}

.color-grey-2 {
  color: #343a40;
}

.color-grey-3 {
  color: #dee2e6;
}

.color-grey-4 {
  color: #e9ecef;
}

.color-grey-5 {
  color: #f1f3f5;
}

.color-grey-6 {
  color: #ffffff;
}

/* Background */
.bg-color-brand-1 {
  background-color: #bc00ff;
}

.bg-color-brand-2 {
  background-color: #540073;
}

.bg-color-grey-3 {
  background-color: #dee2e6;
}

.bg-color-grey-4 {
  background-color: #e9ecef;
}

.bg-color-grey-5 {
  background-color: #f1f3f5;
}

.bg-color-grey-6 {
  background-color: #ffffff;
}
