.title-1 {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.title-2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.title-3 {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}

.text-body {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.text-caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.text-detail {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
