/* GERAL */

.container {
  width: 1400px;
  margin: 0 auto;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f1f3f5;
}

/* HEADER */

header {
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  height: 462px;
}

img {
  margin-top: 25px;
  margin-bottom: 25px;
}

h1 {
  margin-bottom: 25px;
}

header p {
  width: 60%;
  margin-bottom: 15px;
}

h4 {
  margin-bottom: 15px;
}
.big-btn {
  width: 296px;
  height: 48px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.big-btn:hover {
  background-color: blueviolet;
}

a {
  text-decoration: none;
}

/* MAIN */
.little-btn {
  width: 150px;
  height: 38px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  cursor: pointer;
}

.little-btn:hover {
  background-color: blueviolet;
}

.main-container {
  display: flex;
  justify-content: space-between;
}

.cards-vagas {
  height: 307px;
  width: 818px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  padding: 38px;
  margin: 15px auto;
}

.span-card {
  display: inline-block;
  width: 117px;
  margin-right: 8px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.box-candidatar {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.box-candidatar span {
  background-color: #dee2e6;
  border-radius: 8px;
  text-align: center;
  width: 111px;
  height: 30px;
  padding: 4px 12px 4px 12px;
}

/* ASIDE */
aside {
  margin: 15px auto;
  width: 503px;
  height: 316px;
}

aside h2 {
  text-align: center;
  margin-top: 20px;
}

.vaga-selecionada-card {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100px;
  align-items: center;
}

.trash-btn {
  height: 38px;
  width: 44px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.trash-btn:hover {
  background-color: #dee2e6;
}

.trash-btn img {
  margin-top: 9px;
}

.flex-span {
  display: flex;
  justify-content: flex-start;
}

.flex-span span {
  margin-left: 20px;
}
